@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
 height: 100%;
 width: 100%;
} 

body {
 display: inline-flex;
 height: 100%;
 width: 100%;
 background-color:black;
 margin: 0;
}

#content-wrapper {
  display: inline-flex;
  height:100%;
  width:85%;
  background-color:white;
  margin: auto;
}

#content {
 margin: auto;
 text-align:center;
}

h1 {
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
 font-size: 45pt;
 margin-bottom 50px;
}

#movie-title {
 font-size: 30pt;
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
 color: #4e4d4d;
 transition: 0.2s;
}

#movie-title:hover
{
  color:#bb44eb;
  cursor:pointer;
  transition: 0.2s;
}

#trailer {
  margin-top: 50px;
}

#scheduled-time {
  font-family: Roboto;
  color: #3b4a4a;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-top: 40px;
}
