@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
 display: inline-flex;
 height: 100%;
 width: 100%;
}

#content {
 margin: auto;
 text-align:center;
}

h1 {
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
 font-size: 3em;
 margin-bottom 50px;
}

#movie-title {
 font-size: 2em;
 font-family: Tahoma;
 font-weight: bold;
 text-decoration: none;
 color: black;
}

#movie-title:hover
{
  color:#bb44eb;
  cursor:pointer;
}

#trailer {
  margin-top: 50px;
}

#time {
  font-family: Roboto;
  color: #3b4a4a;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-top: 40px;
}
